BackEnd/__pycache__
BackEnd/app/__pycache__
BackEnd/app/api/__pycache__
BackEnd/app/core/__pycache__
BackEnd/app/database/__pycache__
BackEnd/app/services/__pycache__
BackEnd/app/workers/__pycache__
BackEnd/.env