.elevatorIDCard{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Arial, sans-serif'; 
    padding: 70px ; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(51, 42, 42, 0);
    min-width: 250px;
    max-width: 500px
}
.ID {
    color: #333;
    font-size: 30px;
    border-bottom: 5px solid #eee; 
    padding-bottom: 10px;
    text-align: center;
}
.direction {
    font-size: 40px;
    margin-right:10px;
}

p {
    font-size: 30px;
    color :black;
}

.elevatorStatusDisplay {
    text-align: center; 
    font-family: 'Arial, sans-serif'; 
    padding: 20px; 
    background-color: #f4f4f4;
    border-radius: 8px;
    position: relative; 
    min-height: 50vh;
}

.errorMessage {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4444;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 15px
}

.closeButton {
    background: rgb(148, 0, 0);
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 5px;
}

.connectionStatus {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.currentFloorDisplay{
    font-size: 2em; 
    font-weight: normal; 
    color: #007bff; 
    border: 3px solid #007bff; 
    padding: 10px; 
    display: inline-block; 
    border-radius: 8px;
    min-width: 50px;
    background-color: #f9f9f9
}